*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
header  {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
    height: 80px;
}
.container {
    width: 1320px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    }

    header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }
    section{
        padding-top: 64px;
        padding-bottom: 64px;
    }
#logo, h1,h2,h3,h4,h5,h6 {
    font-family: "Lora", serif;
    font-weight: 600;
}
h1{
    font-size: 40px;
    margin-bottom: 24px;
}
h2{
    font-size: 32px;
    margin-bottom: 8px;
}
p{
    color: rgb(95, 92, 92);
    line-height: 170%;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
}

#logo {
    font-size: 26.904px;
    color: black;
    text-decoration: none;
}
.navlink{
    color: rgb(78, 78, 78);
    text-decoration: none;
}
#section1img{
    width: 50%;
    border-radius: 8px;
}
#section1 .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}
.button{
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    border-radius: 8px;

}
.primarybutton {
    background-color: black;
    color: white;
    }
.secondarybutton {
    color: black;
    border: 1px solid   black;
}
.buttonholder {
    margin-top: 32px;
}
#achievementlist{
    list-style: none;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 16px;


}
.achievement {
    background-color: white; 
    padding: 24px;
    border: 1px solid black;

}
#section2 {
    background-color: rgba(230, 228, 228, 0.89);
}
